---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Contact Us" description="Get in touch with the team at The Heuheu.">
    <div class="prose prose-slate max-w-none text-slate-600 text-center">
        <h1>Contact Us</h1>
        <p>If you have any questions, feedback, or concerns, please don't hesitate to reach out. The best way to reach us is by email.</p>
        <p class="text-lg">
            <a id="email-link" href="#" class="text-indigo-600 underline"></a>
        </p>
    </div>
</MainLayout>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const user = 'theheuheu';
        const domain = 'gmail.com';
        const emailLink = document.getElementById('email-link');
        
        const email = user + '@' + domain;
        emailLink.setAttribute('href', 'mailto:' + email);
        emailLink.innerText = email;
    });
</script>